/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/************************/
/* ALGEMEEN */
/************************/

:root {
    --oranjeButton: rgb(235, 89, 67);
    --oranjeButtonOpacity: rgba(235, 89, 67, .9);
}


body {
    width: 100vw;
}

main {
    width: 100vw;
}

a {
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    border-radius: .2em;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100vw;
}

p {
    color: black;
    font-size: .9em;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.7em;
}


h1,
h2,
h3,
a {
    text-transform: uppercase;
}

/************************/
/* LAYOUT VAN DE HEADER */
/************************/
header {
    background-color: white;
    position: relative;
    height: 3.3em;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8em 0 .8em;
    box-shadow: 0px 2px 2px grey;
    z-index: 600;
    box-sizing: border-box;
}

header > a {
    font-size: .9em;
    display: grid;
    text-align: left;
    grid-auto-columns: min-content;
    line-height: .9em;
    border-left: 2px solid black;
    padding: .8em 0 0 .1em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

/**********************/
/* HAMBURGER MENU ICON*/
/**********************/

div {
    background-color: black;
    height: 2px;
    width: 30px;
    position: relative;
}

div::before {
    content: '';
    background-color: black;
    height: 2px;
    width: 30px;
    top: -.5em;
    position: absolute;
}

div::after {
    content: '';
    background-color: black;
    height: 2px;
    width: 30px;
    top: .5em;
    position: absolute;
}

/**********************/
/* HAMBURGER MENU OPEN*/
/**********************/
nav {
    background-color: white;
    position: fixed;
    top: 3.5em;
    right: 0;
    font-weight: 600;
    letter-spacing: .1em;
    width: 70vw;
    height: 100vh;
    font-size: .95em;
    transform: translateX(100vw);
    transition: .3s;
    display: none;
}

nav.toonMenu {
    transform: translateX(0);
    display: block;
}

nav ul li a {
    padding: 1.3em 1.5em 1.3em 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li button {
    transform: rotate(90deg);
    font-size: 1.2em;
}

/*******************************/
/* LAYOUT VAN DE FEEDBACK FORM */
/*******************************/

form {
    background-color: white;
    position: fixed;
    width: calc(100% - 20vw);
    right: 0;
    top: 7em;
    text-align: center;
    border-radius: .2em;
    padding: 2em .5em 2em .5em;
    height: 8em;
    transform: translateX(100%);
    transition: .3s;
    z-index: 900;
}

form.toonForm {
    transform: translateX(-4vw);
}

form button:first-of-type.verwijderFeedbackButton {
    opacity: 0;
}

form button:first-of-type {
    position: absolute;
    top: calc(50% - 1.2em);
    right: calc(100% - 1.9em);
    margin: 0;
    padding: .5em;
    width: 6em;
    border-radius: .1em;
    color: white;
    text-align: center;
    font-size: .9em;
    background-color: var(--oranjeButtonOpacity);
    text-transform: none;
    letter-spacing: .05em;
    font-weight: 300;
    transform: rotate(-90deg);
}

form button:last-of-type {
    position: absolute;
    top: -.65em;
    right: .8em;
    margin: 0;
    width: 1.2em;
    height: auto;
    border-radius: 1em;
    color: white;
    font-size: 1.5em;
    background-color: var(--oranjeButtonOpacity);
    text-align: center;
}

/****************************************/
/* LAYOUT VAN DE MAIN - eerste section */
/****************************************/

main section:first-of-type {
    background-image: url(../images/titlebackpack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main section:first-of-type h1 {
    color: white;
    font-size: 1.8em;
    letter-spacing: .05em;
    position: absolute;
    left: 5%;
    margin-top: 2.2em;
}

main section:first-of-type > h2 {
    color: white;
    font-size: .85em;
    letter-spacing: .06em;
    position: absolute;
    left: 5%;
    order: -1;
    font-weight: 300;
    margin-top: 2.2em;
}

main section:first-of-type a {
    color: white;
    font-weight: 300;
    background-color: var(--oranjeButton);
    padding: 1.2em 0 1.2em 0;
    top: 19em;
    position: absolute;
    letter-spacing: .1em;
    width: calc(100vw - 10%);
    max-width: 40em;

}

main section:first-of-type ul {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 1.5em;
}

main section:first-of-type ul li img {
    width: 70%;
    opacity: .8;
}

/****************************************/
/* LAYOUT VAN DE MAIN - tweede section */
/****************************************/

main section:nth-of-type(2) {
    max-width: 100vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

main section:nth-of-type(2) h3 {
    color: black;
    font-size: .9em;
    letter-spacing: .05em;
}

main section:nth-of-type(2) img {
    width: 60%;
    position: relative;
    top: 1em;
}

/****************************************/
/* LAYOUT VAN DE MAIN - derde section */
/****************************************/

main section:nth-of-type(3) {
    max-width: 100vw;
    height: 90vh;
    position: relative;
    margin-top: 3em;
}

main section:nth-of-type(3) h4 {
    color: black;
    font-size: 1.9em;
    letter-spacing: .02em;
    position: absolute;
    text-transform: none;
    left: 5%;
    right: 5%;
}

main section:nth-of-type(3) p {
    position: absolute;
    top: 6em;
    left: 5%;
    right: 5%;
}

main section:nth-of-type(3) img {
    position: absolute;
    top: 18.8em;
}

main section:nth-of-type(3) a {
    position: absolute;
    top: 30em;
    background-color: blue;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    padding: .7em .9em .7em .9em;
}

/****************************************/
/* LAYOUT VAN DE MAIN - vierde section */
/****************************************/

main section:nth-of-type(4) {
    max-width: 100vw;
    position: relative;
    margin-top: 3em;
}

main section:nth-of-type(4) h5 {
    color: black;
    font-size: 1.9em;
    letter-spacing: .02em;
    position: absolute;
    text-transform: none;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

main section:nth-of-type(4) ol {
    position: absolute;
    top: 7em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 5%;
    right: 5%;
    justify-content: center;
}

main section:nth-of-type(4) li p:first-of-type {
    color: blue;
    font-size: 6em;
    font-weight: 700;
    line-height: 1em;
}

main section:nth-of-type(4) li {
    width: 10em;
}

main section:nth-of-type(4) li p {
    line-height: 1.35em;
    padding-right: 8%;
}



@media (min-width:400px) {
    main {
        background-color: aquamarine;
    }

    p {
        font-size: 1.05em;
    }
}
