/****************************************/
/* CSS Document voor de algemene dingen */


/***********************/
/* Wat algemene dingen */
/***********************/
*,
*::after,
*::before {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* variabelen aanmaken voor de kleuren */
body {
    --oranjeButton: rgb(235, 89, 67);
    --oranjeButtonHover: rgb(255, 130, 95);
    --oranjeButtonOpacity: rgba(235, 89, 67, .9);
    --blue: rgb(0, 0, 153);
    --blueHover: rgb(91, 55, 209);
}

a {
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    border-radius: .2em;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

p {
    color: black;
    font-size: 1em;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.7em;
}

button,
a {
    cursor: pointer;
}

h1,
h2,
h3,
a {
    text-transform: uppercase;
}

em {
    font-weight: bold;
    font-style: normal;
}

/***********************************************/
/* LAYOUT VAN DE HEADER (logo, hamburger menu) */
/***********************************************/

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3.3em;
    width: 100%;
    padding: 0 .8em 0 .8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 2px grey;
    z-index: 600;
}

header > a {
    padding: .8em 0 0 .1em;
    display: grid;
    grid-auto-columns: min-content;
    font-size: .9em;
    text-align: left;
    line-height: .9em;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 2px solid black;
    border-radius: 0;
}

/******************************************/
/* HAMBURGER MENU EN BUTTON MET ANIMATIE  */
/* Bron: Sanne ´t Hooft: Moving Hamburger */
header button {
    background-color: white;
}

/* de hamburger-button */
header > button {
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
}

/* het broodje en het vlees van de hamburger, die kunnen bewegen */
header button span {
    position: absolute;
    width: 1.9em;
    height: 2px;
    background-color: black;
    transition: .5s
}

/* draai het bovenste broodje */
header button span:first-of-type {
    transform: translatey(-8px);
}

/* draai het onderste broodje */
header button span:last-of-type {
    transform: translatey(8px);
}

/* class toevoegen voor de animatie in JS */
.menuOpen button span {
    transition: .5s ease-out;
}

.menuOpen button span:first-of-type {
    transform: translatey(0) rotate(225deg);
    width: 1.7em;
}

/* laat het vlees onzichtbaar worden */
.menuOpen button span:nth-of-type(2) {
    opacity: 0;
}

.menuOpen button span:last-of-type {
    transform: translatey(0) rotate(-225deg);
    width: 1.7em;
}

/*******************************************/
/* HAMBURGER MENU OPEN - OPMAAK VAN DE NAV */
header nav {
    position: fixed;
    top: 3.5em;
    right: 0;
    width: 70vw;
    max-width: 500px;
    height: 100vh;
    display: none;
    background-color: white;
    font-weight: 600;
    letter-spacing: .1em;
    font-size: .95em;
    transform: translateX(100%);
    transition: .5s;
}

/* class die wordt toegevoegd in de JS, maakt het menu zichtbaar*/
nav.toonMenu {
    display: block;
    transform: translateX(0);
}

/* styling lijst-hoofdmenu */
header nav ul li {
    padding: 1em 1.5em 1em 1em;
    text-transform: uppercase;
    font-size: 1.3em;
}

/* alleen een menu item is uitgewerkt - daarom de rest grijs en cursor default */
header nav ul li a {
    color: gray;
}

header nav ul li a:hover {
    cursor: default;
}

/* alleen het menu item "mission", dat wel is uitgewerkt, is zwart... */
header nav > ul > li:nth-of-type(2) a {
    color: black;
}

header nav > ul > li:nth-of-type(2) {
    cursor: pointer;
    position: relative;
}

/* ... en wordt oranje als je hovert... */
header nav > ul > li:nth-of-type(2) a:hover, header nav > ul > li:nth-of-type(2) a:active {
    color: var(--oranjeButton);
}

/* ... en krijgt een border als je focust */
header nav > ul > li:nth-of-type(2) a:focus {
    border: 2px solid var(--oranjeButton);
}

/* het pijlte, dat aangeeft dat het menu uitvouwbaar is */
header nav > ul > li:nth-of-type(2)::after {
    position: absolute;
    top: 1.2em;
    right: 1em;
    content: "\f078";
    font-family: FontAwesome;
}

/* het pijlte draait als het menu open staat */
header nav > ul > li.turnArrow::after {
    content: "\f078";
    font-family: FontAwesome;
    transform: rotate(180deg);
    transition: .3s;
}

/*******************/
/* styling submenu */
header nav ul ul {
    display: none;
    margin-top: .5em;
}

header nav ul ul li {
    padding: 1em 0;
    font-size: .65em;
}

/* class die wordt toegevoegd in JS om het submenu zichtbaar te maken */
header nav ul ul.submenu {
    display: block;
}

/********************/
/* DE FEEDBACK FORM */
/********************/

form {
    position: fixed;
    right: 0;
    top: 7em;
    height: 10em;
    width: calc(100% - 20vw);
    max-width: 500px;
    padding: 2em .5em 2em .5em;
    background-color: white;
    box-shadow: 4px 4px 10px grey;
    text-align: center;
    border-radius: .2em;
    transform: translateX(100%);
    transition: .3s;
    z-index: 400;
}

/* class die wordt toegevoegd in JS om de form zichtbaar te maken */
form.toonForm {
    transform: translateX(-4vw);
}

/* de feedback button aan de rechte kant */
form button:first-of-type {
    position: absolute;
    top: calc(50% - 1.2em);
    right: calc(100% - 1.9em);
    width: 6em;
    margin: 0;
    padding: .5em;
    color: white;
    background-color: var(--oranjeButtonOpacity);
    text-align: center;
    font-size: .8em;
    text-transform: none;
    letter-spacing: .05em;
    font-weight: 300;
    border-radius: .1em;
    transform: rotate(-90deg);
}

/* verwijder de feedback-button als de feedback form open staat */
form button:first-of-type.verwijderFeedbackButton {
    opacity: 0;
}

/* de "sluit-feedback-form-button" */
form button:last-of-type {
    position: absolute;
    top: -.65em;
    right: .8em;
    width: 1.2em;
    height: auto;
    margin: 0;
    color: white;
    background-color: var(--oranjeButton);
    font-size: 1.5em;
    text-align: center;
    border-radius: 1em;
}

/* de buttons worden wat lichter als je hovert... */
form button:hover,
form button:active {
    background-color: var(--oranjeButtonHover);
}

/* ... en een lijn omheen als je focust */
form button:focus {
    outline: 2px double var(--oranjeButton);
}

/* style van de vraag in de feedback-form */
legend {
    letter-spacing: .045em;
    line-height: 1.4em;
    margin-bottom: 1.2em;
}

/* style van de emojis in de feedback-form */
form label {
    padding: .25em;
    cursor: pointer;
}

form img {
    width: 30px;
}

/* de default radiobuttons verstoppen */
input {
    opacity: 0;
    height: 0;
    width: 0;
}

/* animatie als je op een van de emojis klikt (wordt groter en draait) */
@keyframes emoji-animatie {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5) rotate(1turn);
    }
}

/* class die wordt toegevoegd in de JS */
label img.groter {
    animation-name: emoji-animatie;
    animation-duration: .5s;
    border: 3px dotted var(--oranjeButton);
    border-radius: 50%;

}


/************************/
/* LAYOUT VAN DE FOOTER */
/************************/
footer {
    position: absolute;
    width: 100%;
    padding: 6% 5% 3% 5%;
    background-color: black;
}

footer ul li {
    margin: 1.5em 0;
}

footer ul li {
    color: white;
    font-size: .75em;
    font-weight: 500;
}

footer ul li a {
    color: white;
    text-transform: uppercase;
}

footer ul li a:active, footer ul li a:hover {
    color: var(--oranjeButton);
}

footer ul li a:focus {
    text-decoration: underline;
}

/* span voor het hartje */
footer ul span {
    color: red;
}


/* wat kleine dingetjes om het op verschillende schermgroottes leesbarer te maken */
@media (min-width:400px) {
    p {
        font-size: 1.1em;
    }

    main section:first-of-type h1 {
        font-size: 2.3em;
        margin-right: 5%;
    }

    main section:first-of-type h2 {
        font-size: 1.1em;
        letter-spacing: .08em;
    }

    main section:first-of-type a {
        top: 28em;
    }

    main section:nth-of-type(4) li p {
        line-height: 1.5em;
        font-size: .95em;
    }

}
