/* CSS Document voor de tweede pagina (mission) */


/****************************************/
/* LAYOUT VAN DE MAIN - eerste section */
/****************************************/
main section:first-of-type {
    background-image: url(../images/missionBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30vh;
    width: 100%;
    position: relative;
    text-align: center;
}

main section:first-of-type h1 {
    color: white;
    font-size: .9em;
    letter-spacing: .05em;
    line-height: 2.5em;
    position: absolute;
    left: 5%;
    margin-top: 4em;
    font-weight: 500;
}

main section:first-of-type h1 em {
    color: white;
    font-size: 2.8em;
    font-weight: 600;
}

/****************************************/
/* LAYOUT VAN DE MAIN - tweede section */
/****************************************/

main section:nth-of-type(2) {
    margin-top: 4%;

}

main section:nth-of-type(2) p:first-of-type {
    font-size: 1.7em;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 600;
    margin-bottom: .5em;
}

/**************************************/
/* LAYOUT VAN DE MAIN - derde section */
/**************************************/
main section:nth-of-type(3) {
    height: auto;
    width: 100%;
}

main section:nth-of-type(3) h2 {
    color: black;
    font-size: 1.4em;
    margin: 8% 0 3% 0;
    text-align: center;
}


main section:nth-of-type(3) div {
    font-size: 4.5em;
    font-weight: 1000;
    margin: .5em 5% 0 5%;
}

main section:nth-of-type(3) p {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0 5%;
}

main section:nth-of-type(3) div:first-of-type::after,
section:nth-of-type(3) div:nth-of-type(2)::after,
section:nth-of-type(3) div:nth-of-type(4)::after {
    content: "\0025";
}

/***************************************/
/* LAYOUT VAN DE MAIN - vierde section */
/***************************************/
main section:nth-of-type(4) article {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(4) article:first-of-type {
    margin-top: 10%;
}

main section:nth-of-type(4) article img {
    order: -1;
    margin: 8% 0;
}

main section:nth-of-type(4) p,
h3 {
    margin: 0 5%;
}


main section:nth-of-type(4) h3 {
    margin-bottom: 3%;
    font-weight: 800;
    font-size: 2.2em;
    line-height: 1.3em;
    text-transform: none;
}

/***************************************/
/* LAYOUT VAN DE MAIN - vijfde section */
/***************************************/

main section:nth-of-type(5) {
    margin-bottom: 50%;
}

main section:nth-of-type(5) h4,
h5 {
    text-align: center;
}

main section:nth-of-type(5) article h4,
p {
    margin: 0 5%;
}

main section:nth-of-type(5) article:first-of-type {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

main section:nth-of-type(5) article:first-of-type h4:nth-of-type(2) {
    order: -1;
    margin: 3% 0;
}

main section:nth-of-type(5) article:first-of-type h4:nth-of-type(1) {
    font-size: 1.6em;
    margin-bottom: 5%;
}

main section:nth-of-type(5) article p {
    margin-top: 5%;
}

main section:nth-of-type(5) h5 {
    font-size: 1.6em;
    margin-top: 12%;
}

/* Bron: https://css-tricks.com/custom-list-number-styling/ */
main section:nth-of-type(5) ol {
    list-style-type: decimal;
    list-style-position: inside;
    list-style-type: none;
    counter-reset: my-awesome-counter;
    font-size: 1em;
    line-height: 1.7em;
    margin: 12% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(4, 1fr auto);
    grid-row-gap: 1.5%;
}

main section:nth-of-type(5) li {
    counter-increment: my-awesome-counter;
}

main section:nth-of-type(5) li::before {
    content: counter(my-awesome-counter);
    font-size: 2em;
    font-weight: 900;
    color: var(--blue);
    padding: .005em .35em;
    margin-right: .3em;
    border: 4px solid;
    border-radius: 50%;

}

main section:nth-of-type(5) ol img {
    margin-left: 15%;
}
