/* CSS Document voor de eerste pagina (home) */

/****************************************/
/* LAYOUT VAN DE MAIN - eerste section */
/****************************************/

main section:first-of-type {
    background-image: url(../images/titelBackpack.jpg);
    /*Bron: https://cdn.shopify.com/s/files/1/0501/3222/2108/files/index_hero-image_A_mobile_compressed_1920x1080_crop_center.progressive.jpg, geraadpleegd op 25 november 2020*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main section:first-of-type h1 {
    color: white;
    font-size: 1.8em;
    letter-spacing: .05em;
    position: absolute;
    left: 5%;
    margin-top: 2.5em;
}

main section:first-of-type > h2 {
    color: white;
    font-size: .85em;
    letter-spacing: .06em;
    position: absolute;
    left: 5%;
    order: -1;
    font-weight: 300;
    margin-top: 3em;
}

main section:first-of-type a {
    color: white;
    font-weight: 300;
    background-color: var(--oranjeButton);
    padding: 1.2em 0 1.2em 0;
    top: 19em;
    position: absolute;
    letter-spacing: .07em;
    width: calc(100vw - 10%);
    max-width: 40em;
}

main section:first-of-type a:hover {
    background-color: var(--oranjeButtonHover);
}

/*de drie witte circles*/
main section:first-of-type div {
    width: 4.5em;
    height: 4.5em;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 1.5em;
}

main section:first-of-type div:first-of-type {
    left: 10%;
}

main section:first-of-type div:last-of-type {
    right: 10%;
}

/*****************************************************/
/* LAYOUT VAN DE MAIN - tweede section - de carousel */
/* Bron: Sanne `t Hooft, Voorbeeld Carousel          */
/*****************************************************/
/********************/
/* ALGEMENE STIJLEN */
/********************/

main section:nth-of-type(2) {
    /* clamp(minimum value, preferred value, maximum value) */
    padding: clamp(1.5rem, 4vw, 2.5rem);
    height: 23vh;
    margin-top: 1em;
    position: relative;
}

/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
    --caroCarrouselAccentColor: rgb(91, 55, 209);
    --caroCarrouselInverseColor: #e48a4c;
    --caroCarrouselShadeColor: #ededed;
    --caroCarrouselAutoScrollInterval: 4000;
    overflow: hidden;
    /* om de linkbuttons te verbergen */
    outline: none;
}


/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    /* handmatig scrollen is mogelijk */
    overflow: hidden;

    /* snappen als er gescrolled wordt - andere helft bij li */
    scroll-snap-type: inline mandatory;
    /* smooth als met js gescrolled wordt */
    scroll-behavior: smooth;
    /* scrollbar zoveel mogelijk verbergen */
    -webkit-overflow-scrolling: touch;
    /* voor iOS*/
    -ms-overflow-style: none;
    /* voor IE */
    scrollbar-width: none;
    /* voor firefox */

    /* indien het einde of het begin van de pagina bereikt is met scrollen */
    /* voorkomen dat de pagina gaat scrollen */
    overscroll-behavior: contain auto;
}

.caroCarrousel > ul::-webkit-scrollbar {
    /* scrollbar zoveel mogelijk verbergen */
    display: none;
    /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    /* snappen als er gescrolled wordt - andere helft bij ul */
    scroll-snap-align: center;
}


/**********************************/
/* de carrousel elementen content */

.caroCarrousel > ul li > img {
    display: block;
    width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
    position: absolute;
    left: 2em;
    right: 2em;
    bottom: 0;
    margin: 0;
    padding: .25em;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* de bolletjes wrapper */
.caroCarrousel nav li {
    margin: .25em;
    padding: 0;
}

/* de bolletjes */
.caroCarrousel > nav a {
    display: block;
    width: 1em;
    height: 1em;
    text-decoration: none;
    background-color: var(--caroCarrouselShadeColor);
    border-radius: 50%;
    outline: none;
    box-shadow: inset 0 0 0 1px currentColor;
    transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
    color: var(--caroCarrouselAccentColor);
}

.caroCarrousel > nav a.current {
    animation-name: carrouselAutoScrollingButton;
    animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes carrouselAutoScrollingButton {
    0% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%);
    }

    2% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%);
    }

    4% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%);
    }

    6% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%);
    }

    8% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%);
    }

    10% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%);
    }

    12% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%);
    }

    14% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%);
    }

    16% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%);
    }

    18% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%);
    }

    20% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%);
    }

    22% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%);
    }

    24% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%);
    }

    26% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%);
    }

    28% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%);
    }

    30% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%);
    }

    32% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%);
    }

    34% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%);
    }

    36% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%);
    }

    38% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%);
    }

    40% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%);
    }

    42% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%);
    }

    44% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%);
    }

    46% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%);
    }

    48% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%);
    }

    50% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%);
    }

    52% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%);
    }

    54% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%);
    }

    56% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%);
    }

    58% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%);
    }

    60% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%);
    }

    62% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%);
    }

    64% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%);
    }

    66% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%);
    }

    68% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%);
    }

    70% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%);
    }

    72% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%);
    }

    74% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%);
    }

    76% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%);
    }

    78% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%);
    }

    80% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%);
    }

    82% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%);
    }

    84% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%);
    }

    86% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%);
    }

    88% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%);
    }

    90% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%);
    }

    92% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%);
    }

    94% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%);
    }

    96% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%);
    }

    98% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%);
    }

    100% {
        background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%);
    }
}


/****************************************/
/* LAYOUT VAN DE MAIN - derde section */
/****************************************/

main section:nth-of-type(3) {
    max-width: 100%;
    margin-top: 3em;
}

main section:nth-of-type(3) h4 {
    color: black;
    font-size: 1.9em;
    letter-spacing: .02em;
    text-transform: none;
    margin: 0 5% 0 5%;
}

main section:nth-of-type(3) p {
    top: 6em;
    margin: 4% 5% 4% 5%;
}

main section:nth-of-type(3) img {
    width: 100%;
}

main section:nth-of-type(3) a {
    margin: 0 5% 3% 5%;
    background-color: var(--blue);
    box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75);
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    padding: .7em .9em;
    width: calc(100vw - 10%);
    max-width: 40em;
    position: relative;
    bottom: 4.5em;
    display: inline-block;
}

main section:nth-of-type(3) a:hover,
mains section:nth-of-type(3) a:active {
    background-color: var(--blueHover);
}

main section:nth-of-type(3) a:focus {
    outline: 2px double var(--blue);
}

/****************************************/
/* LAYOUT VAN DE MAIN - vierde section */
/****************************************/

main section:nth-of-type(4) {
    max-width: 100vw;
    margin: 0 5% 0 5%;
    position: relative;
}

main section:nth-of-type(4) h5 {
    color: black;
    font-size: 1.9em;
    letter-spacing: .02em;
    text-transform: none;
    margin-bottom: .8em;
    text-align: center;
}

main section:nth-of-type(4) ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main section:nth-of-type(4) li p:first-of-type {
    background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(0,0,153,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    font-weight: 900;
    line-height: 1em;
}

main section:nth-of-type(4) li {
    width: 9em;
    position: relative;
}

main section:nth-of-type(4) li p {
    line-height: 1.35em;
    padding-right: 8%;
    font-size: .85em;
}

main section:nth-of-type(4) ol img {
    position: absolute;
    width: 3.2em;
    top: 1em;
    left: 2.7em;
}

/****************************************/
/* LAYOUT VAN DE MAIN - vijfde section */
/****************************************/
main section:nth-of-type(5) {
    margin: 12% 5% 10% 5%;
    display: flex;
    flex-direction: column-reverse
}

main section:nth-of-type(5) h6 {
    font-size: 1.2em;
    margin-top: .7em;
}
